**Section A **

In [ ]:
#1
def num(a, b, c):
  l=[]
  if a==b==c:
    l.append(a)
    l.append(b)
    l.append(c)
  elif a==b:
    l.append(a)
    l.append(b)
  elif b==c:
    l.append(b)
    l.append(c)
  elif a==c:
    l.append(a)
    l.append(c)
    
  n = len(l)
  print("There are total",n,"same values")

num(5, 0, 5)

There are total 2 same values

In [ ]:
#2
def DtoLoT(dict):
    dict = {'Swara':1, 'Aman':69, 'Cirayu':5, 'Vivek':4}
    list = [(k, v) for k, v in dict.items()]

    list.sort(key = lambda x: x[0])
    return list

print(DtoLoT(dict))

[('Aman', 69), ('Cirayu', 5), ('Swara', 1), ('Vivek', 4)]

In [ ]:
#3
l = ['a','b','c','d','e','f','g']
dic = {}

for i in l:
  j = i.upper()
  dic.update({i:j})
print(dic)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G'}

In [ ]:
#4
def ReplaceVowels(st1,v):
  vowels = 'aeiou'
  for i in vowels:
    st1 = st1.replace(i,v)
  return st1

stri = 'i am learning most trending programming language python'
v = 'e'


print("After replacing vowels with the specified character:",ReplaceVowels(stri,v))

After replacing vowels with the specified character: e em leerneng mest trendeng pregremmeng lengeege pythen

In [ ]:
#5
def ascii(st):
  res=[]
  for index, c in enumerate(st):
    if index%2==0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return''.join(res)
print(ascii("Saurabh Munde"))

SaUrAbH MuNdE

**Section B**

In [ ]:
#1
def factorial(n):
     
    
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 3;
print("Factorial of",num,"is",
factorial(num))

Factorial of 3 is 6

In [ ]:
#2
def myfunction():
    print("Saurabh")
myfunction()

Saurabh

In [ ]:
#3

def largest_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(largest_num_in_list([4, 1, 7, 1]))
77

7

77

In [ ]:
#4

def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(29))

In [ ]:
#5
def is_even_num(l):
    evennum = []
    for n in l:
        if n % 2 == 0:
            evennum.append(n)
    return evennum
print(is_even_num([14, 2, 3, 45, 5, 68, 7, 8, 9]))
[14, 68, 80]

[14, 2, 68, 8]

[14, 68, 80]