
**Section A: fundamentals of python**

In [ ]:
#1
print("Hello Python")

Hello Python

In [ ]:
#2
#addition and division
s=5
t=6
print(s+t)
print(s/t)

11
0.8333333333333334

In [ ]:
#3
base=float(input("Enter the value of base = "))
height=float(input("Enter the value of height = "))
area=0.5*base*height
print(area)

Enter the value of base = 5
Enter the value of height = 9
22.5

In [ ]:
#4
g=int(input("Enter the number ="))
h=int(input("Enter the number = "))
g,h=h,g
print("g=",g)
print("h=",h)

Enter the number =5
Enter the number = 3
g= 3
h= 5

In [ ]:
#5
import random
a=random.randint(1,500)
print(a)

448

**Section B:**

In [6]:
#1
kilometer=float(input("Enter the value of kilometer = "))
miles=0.621*kilometer
print(miles)

Enter the value of kilometer = 8
4.968

In [7]:
#2
celsius=int(input("Enter the value of celsius ="))
Fahrenheit=(celsius*1.8)+32
print(Fahrenheit)

Enter the value of celsius =32
89.6

In [8]:
#3
import calendar
year=int(input("Enter the year ="))
print(calendar.calendar(year))

Enter the year =2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [9]:
#4
import cmath
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
d=(b*b)-(4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print(sol1,sol2)

Enter a:12
Enter b:15
Enter c:11
(-0.625-0.7252872993970505j) (-0.625+0.7252872993970505j)

In [10]:
#5
g=int(input("Enter the number ="))
h=int(input("Enter the number = "))
g,h=h,g
print("g=",g)
print("h=",h)

Enter the number =21
Enter the number = 34
g= 34
h= 21

**Section C:**

In [11]:
#1
a = float(input("Enter a number: "))
if a > 0:
   print("Positive number")
elif a == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 14
Positive number

In [12]:
#2
number=int(input("Enter the number ="))
if (number % 2) ==0:
  print("Number is even ")
else:
  print("Number is odd")

Enter the number =4
Number is even

In [13]:
#3
num = 29
f = False
if num > 1:
  for i in range(2,num):
    if (num % i)== 0:
      f = True
      break

if f:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

29 is a prime number

In [15]:
#4
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list
 
starting_range = 1
ending_range = 500
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

In [16]:
#5
year = 2022
if (year % 400==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
elif (year % 4==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

2022 is not a leap year

**Section D**:

In [17]:
#1
num = 7
factorial = 1
if num < 0:
  print("there is no factorial of negative number")
elif num== 0:
  print("the factorial of 0 is 1")
else:
  for i in range (1,num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [19]:
#2
num = 4
for i in range (1,11):
  print(num,'x',i,'=',num*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [20]:
#3
nterms = int(input("How many terms ?"))
n1 , n2 = 0,1 
count =0
if nterms <= 0:
  print("please enter positive integer")
elif nterms ==1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth= n1 + n2
    n1=n2
    n2=nth
    count +=1

How many terms ?15
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [21]:
#4
n = int(input("Enter the number"))
s = n  # assigning input value to the s variable
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("The given number", s, "is armstrong number")
else:
    print("The given number", s, "is not armstrong number")

Enter the number456
The given number 456 is not armstrong number

In [22]:
#5
lower = 100
upper = 2000

for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

In [23]:
#6
num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

**Section E:**

In [24]:
#1
arr = [1, 2, 3, 4, 5, 6, 7]
sum = 0

for i in range (len(arr)):
  sum = sum + arr[i]
print(sum)

28

In [27]:
#2
def largest(arr, n):
    arr.sort()
    return arr[n-1]
 
arr = [10, 324, 45, 90, 988]
n = len(arr)
Ans = largest(arr, n)
print("Largest in given array ", Ans)

Largest in given array  988

In [28]:
#3
def rotateArray(arr, n, d):
    temp = []
    i = 0
    while (i < d):
        temp.append(arr[i])
        i = i + 1
    i = 0
    while (d < n):
        arr[i] = arr[d]
        i = i + 1
        d = d + 1
    arr[:] = arr[: i] + temp
    return arr

arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, len(arr), 2))

Array after left rotation is:  [3, 4, 5, 6, 7, 1, 2]

In [29]:
#4
def splitArr(arr, n, k): 
    for i in range(0, k): 
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
          
        arr[n-1] = x

arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
  
splitArr(arr, n, position)
  
for i in range(0, n): 
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [30]:
#5
def isMonotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
  
A = [6, 5, 4, 4]
  
print(isMonotonic(A))

True

**Section F:**

In [31]:
#1
total = 0

list1 = [11, 5, 17, 18, 23]
 
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [32]:
#2
def multiplyList(myList) :
     
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [34]:
#3
list1 = [10, 20, 4, 1, 99]
 
list1.sort()
 
print("Smallest element is:", *list1[:1])

Smallest element is: 1

In [35]:
#4
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Largest element is:", list1[-1])

Largest element is: 99

In [36]:
#5
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 
# Removing duplicates from the list
list2 = list(set(list1))
 
list2.sort()
 
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [37]:
#6
l = [1000,298,3579,100,200,-45,900]
n = 4
  
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

In [38]:
#7
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
 
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [39]:
#8
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
     
    if num % 2 != 0:
       print(num, end = " ")

21 45 93

In [40]:
#9
test_list = [5, 6, [], 3, [], [], 9]
 
print("The original list is : " + str(test_list))
 
while [] in test_list :
    test_list.remove([])
 
print("List after empty list removal : " + str(test_list))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [41]:
#10
def Cloning(li1):
    li_copy = li1[:]
    return li_copy

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [42]:
#11
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times